
html, body {
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    
 
}

header {
    height:5%;
    background-color:#e82517;
    color:white;
    min-height: 45px;
}

#logo {
    font-size: 1.5em;
    padding: 10px 0 10px 20px;
    
}

#content {
    width:100%;
    min-height: 95%;
    color:white;
    background-color:#eb4034;
}

/*---------- Quote ----------*/

#quote {
    padding: 5% 20% 6% 20%;
    max-height:30%;
}

#quote-text {
    font-style: italic;
    font-size:3em;
}

.quote-word {
    color:#74120b;
    font-weight: bold;
    transition: background-color .5s;
}

.quote-word:hover{
    background-color: white;
    transition: background-color .5s;
    cursor: pointer;
}

.selected-quote-word {
    background-color:#74120b;
    color:white;
}

.selected-quote-word:hover {
    background-color:#74120b;
    color:white;
}

#quote-author {
    margin-top:10px;
    float:right;
    font-size:2.5em;
}

.fa-floppy-o {
    padding-left:20px;
    font-size:.8em;
}


.fa-floppy-o:hover {
    padding-left:20px;
    font-size:.8em;
    color: #74120b;
    cursor: pointer;
}

/*---------- Word Selector ----------*/

#word-selector {
    padding: 0 20%;
    max-height: 30%;
}

#word-selector h1 {
    margin:0px;
    height:40px;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #e82517;
    text-align: center;
    padding-top:10px;
}

#word-selector ul {
    list-style: none;
    padding-left:10px;
    font-size:1.5em;
}

#word-selector ul span {
    float:right;
    padding-right:10px;
}

#word-selector li {
    padding-top:10px;
}

/*---------- Top Words ----------*/

#top-words {
    width:45%;
    display: inline-block;
  
}

#top-words ul {
    margin-top:10px;
}


/*---------- Find Your Own Word ----------*/

#find-your-own {
    width:45%;
    padding-left:9%;
    display: inline-block;
    vertical-align: top;
}

.fa-search {
    font-size: 1.5em;
}

#find-your-own input {
    background:none;
    color:white;
    border:none;
    height:40px;
    width:75%;
    border-bottom:solid 2px;
    font-size:1.5em;
    padding-left:10px;
}

#find-your-own input:focus {
    outline:none;
}

#find-your-own input::placeholder {
    color:white;
}

#find-your-own ul {
    margin-top:10px;
    padding-left:30px;
}

#find-your-own li {
    padding: 5px 5px;
    width:75%;

}

#find-your-own li:hover {
    color: #74120b;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-right:10px;
}

.selected-word-choice {
    background-color:#74120b;
    border-radius: 5px;
    color:white;
}

.selected-word-choice:hover {
    color:white !important;
}
