
html {
    display:none;
}

html, body {
    width:100%;
    min-height:100%;
    padding:0px;
    margin:0px;
}

#wrapper {
    padding-top:45px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

#content {
    width:100%;
    min-height: 100%;
    color:white;
    background-color:  #26a4f2;
    margin-bottom:-40px;
}

/*---------- Navbar ----------*/

header {
    margin-top:-45px;
    background-color:#0b7bc1;
    color:white;
    height: 45px;
    vertical-align: middle;
}

#logo {
    display:inline-block;
    font-size: 1.5em;
    padding: 0 0 0 20px; 
    height:100%;
    line-height: 45px;
}

.fa-twitter {
    padding-right:10px;
}

#logo a {
    background-color:white;
    color:#0b7bc1;
    transition:all .5s;
    text-decoration: none;
}

#logo a:hover {
    background-color:#0a6ca9;
    color:white;
    transition:all .5s;
}

.fa-question-circle-o{
    float:right;
    line-height: 45px;
    padding-right:20px;
    font-size:1.5em;
    cursor: pointer;
}

/*---------- Quote ----------*/

#quote {
    padding: 10% 20% 5% 20%;
}

#quote-text {
    font-style: italic;
    font-size:3vw;
}

.quote-word {
    color:white;
    transition: background-color .5s;
}

.quote-word:hover{
    background-color: white;
    color:#0e9af1;
    transition: background-color .5s;
    cursor: pointer;
}

.top-choice {
    background-color:#56b8f5;
}

.selected-quote-word {
    background-color:#0b7bc1;
}

.selected-quote-word:hover {
    background-color:#0b7bc1;
    color:white;
}

#quote-author {
    margin-top:10px;
    float:right;
    font-size:2vw;
    font-style: italic;
}

/*---------- Word Selector ----------*/

#word-selector {
    padding: 0 20% 2% 20%;
    max-height: 30%;
    visibility:hidden;
    opacity:0;
}

#word-selector h1 {
    margin:0px;
    height:40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5em;
    background-color: #0b7bc1;
    text-align: center;
    padding-top:10px;
}

/*---------- Top Words ----------*/

#top-words {
    width:45%;
    display: inline-block;
}

#top-words-list {
    margin:0px;
    background-color: white;
    color:black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 0px;
    list-style: none;
    font-size:1.5em;
}

#top-words-list span {
    float:right;
    padding-right:20px;
}

#mobile-search-toggle {
    display: none;
}

/*---------- Find Your Own Word ----------*/

#find-your-own {
    width:45%;
    padding-left:9%;
    display: inline-block;
    vertical-align: top;
}

#search-bar {
    border-radius: 5px;
    background-color: #0b7bc1;
    padding-top:5px;
    padding-bottom:5px;
}

#search-button:hover{
    color: #b7e1fb;
    cursor: pointer;
}

.fa-search {
    font-size: 1.5em;
    width:5%;
    padding-left:2.5%;
    padding-right:2.5%;
}

.fa-arrow-right {
    font-size:1.5em;
}

#find-your-own input {
    background:none;
    color:black;
    border:none;
    height:40px;
    width:85%;
    font-size:1.5em;
    padding-left:2%;
    background-color: white;
    border-radius: 5px;
}

#find-your-own input:focus {
    outline:none;
}

#find-your-own input::placeholder {
    color:grey;
}

#mobile-top-word-toggle {
    display:none;
}

#search-results {
    margin-top:0px;
    width:87%;
    margin-left:11%;
    background-color: white;
    color:black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 0px;
    list-style: none;
    font-size:1.5em;
}

#find-your-own li {
    width:100%;
}

.word-choice {
    padding-left:12px;
    padding-bottom:8px;
    padding-top:8px;
    height:28px;
}

.no-top-words {
    padding-left:12px;
    height:28px;
    padding-bottom:8px;
    padding-top:8px;
}

.word-choice:hover {
    background-color: #87ccf8;
    cursor: pointer;
    color:black;
}

.selected-word-choice {
    background-color:#0e9af1;
    color:white;
}

.selected-word-choice:hover {
    color:white !important;
}

/*---------- Creator Info ----------*/

#creator-info {
    bottom:15px;
    right:0;
    position: relative;
    color:white;
    text-align: right;
    padding-right: 20px;
    font-size:1.25em;
}

#creator-info a {
    background-color:#0b7bc1;
    color:white;
    text-decoration: none;
    transition: background-color .5s;
}

#creator-info a:hover {
    background-color:white;
    color:#0b7bc1;
    transition: background-color .5s;
}

/*---------- Vote Button ----------*/

#vote-footer {
    background:#0b7bc1;
    height:40px;
    left:0;
    bottom:0;
    width:100%;
    text-align: center;
    position:fixed;
    visibility: hidden;
    opacity:0;
}

#vote-button {
    bottom:0;
    width:20%;
    height:40px;
    border:none;
    background-color: #73ae37;
    color:white;
    font-size:1.5em;
    cursor: pointer;
    font-weight: bold;
}

#vote-button:focus {
    outline: none;
}

#vote-button:hover {
    background-color:#8cc851;
}

.disabled {
    background-color:#ff6666 !important;
    cursor: default !important;
}

/*---------- General Use ---------*/

/* Animations & Transitions */
.visible {
    visibility: visible !important;
    opacity: 1 !important;
    transition: all 1s !important;
}

.hidden {
    visibility: hidden !important;
    opacity:0 !important;
    transition: all 1s !important;
}

.slide-up {
    padding-top:2% !important;
    transition: padding-top 1s !important;
}

.slide-down {
    padding-top:10% !important;
    transition: padding-top 1s !important;
}

.loader-container {
    padding-top:10px;
    padding-bottom: 10px;
}

/* Loader */
.loader {
    margin:0 auto;
    border: 6px solid lightgrey;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*---------- Media Queries -----------*/
@media only screen and (max-width:1200px) {

    /*---------- Quote ----------*/
    #quote {
        padding:15% 5% 15% 5%;
        top:0;
        background-color:inherit;
        z-index:1;
        max-height:50%;
    }

    .bottom-bordered {
        border-bottom: solid 2px #0b7bc1;
    }

    .slide-up {
        padding-top:5% !important;
    }

    #quote-text {
        font-size:4vw;
    }
    #quote-author {
        font-size:2.5vw;
    }

    /*---------- Word Selector ----------*/
    #word-selector {
        padding:0;
        padding-bottom:60px;
    }

    #top-words {
        width:100%;
    }

    #top-words h1 {
        border-radius:0px;
    }

    /*---------- Top Words ----------*/

    #top-words-list {
        margin-bottom:0px;
        border-radius:0px;
    }

    #mobile-search-toggle {
        display:block;
        float:right;
        font-size:1em;
        padding-right:15px;
        cursor: pointer;
    }
    

    /*---------- Find Your Own Word -----------*/

    #find-your-own {
        width:100%;
        padding:0;
        display:none;
    }

    #search-bar {
        border-radius: 0px;
    }

    #find-your-own input {
        width:80%;
    }

    #search-results {
        width: 100%;
        margin-left:0px;
        margin-bottom:0px;
        border-radius:0px;
    }

    #mobile-top-word-toggle {
        display:block;
        font-size:1.5em;
        font-weight: bold;
        text-align: center;
        padding-top:10px;
        padding-bottom:10px;
        background-color:#0d8bd9;
        cursor:pointer;
    }
    
    /*---------- Vote Button ----------*/

    #vote-footer {
        height:60px;
    }

    #vote-button {
        width:100%;
        height:60px;
        margin:0px;
    }

    /*---------- General Use ---------*/

    /* Animations & Transitions */

    .slide-down {
        padding-top:15% !important;
    }
}

@media only screen and (max-width:800px){

    #quote-text {
        font-size:8vw;
    }

    #quote-author {
        font-size:6.5vw;
    }
}
